body {
  background: red;
  color: black;
  line-height: 1.7rem;
  font-size: 1.5rem;
}

a {
  color: black;
}

ol, li, h1, h2 {
  font: inherit;
  padding: unset;
  list-style: none;
}

h1 {
  display: inline;
}

nav, main.text, ol {
  margin: 1.7rem;
}
nav {
  margin-right: 4rem;
}

#shadownav {
  visibility: hidden;
  padding: 1.7rem;
  margin: 0;
}

nav.shown {
  position:absolute;
  top: 0;
  z-index: 1;
}

#info {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1.7rem;
}

#canvaswrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#canvaswrapper[hidden] {
  display: none;
}

canvas {
  object-fit: contain;
  max-height: 100vh;
  max-width: 100vw;
  box-shadow: 0 0 0 1px red;
}

img {
  max-height: 12vw;
}

@media (max-width: 767px) {
  img {
      max-height: 24vw;
  }
}

.on {
  opacity: .5;
}
