body{background:red;color:white;font-size:1.2em;font-family: sans-serif;font-weight:bold;}
a{color:white;}
ul,ol{padding:0 0 0 1em;list-style-position: inside;}
ul{list-style:none;}
hr{
    all: unset;
    display: block;
    margin-bottom: 1em;
}
a[href^="#"]:focus {
    outline: none;
  }