#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#scrubber {
  object-fit: contain;
  max-height: 100vh;
  max-width: 100vw;
}

img {
  max-height: 12vw;
}

@media (max-width: 767px) {
  img {
      max-height: 24vw;
  }
}

*[hidden] {
  display: none;
  visibility: hidden;
}