body {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

nav {
  position: relative;
  z-index: 1;
}

nav {
  background-color: Window;
  background-color: Canvas;
}

pre {
  width: 100%;
  overflow: scroll;
}

img {
  max-width: 100%;
}

img.active {
  max-height: 100vh;
  width: auto;
  height: auto;
}

.canvasWrapper {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  max-height: 100vh;
  max-width: 100vw;
}

.up, .output {
  font-family: monospace;
  position: fixed;
  z-index: -2;
  text-align: center;
  width: 100%;
}

.up {
  z-index: 0;
}
